body {
    background: #263238;
}

#app{
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #ffffff;
    margin-top: 60px;
    
}

.character-card{
    border: 1px solid #4FC08D;
    border-radius: 4px;
    cursor: pointer;
}

.col-md-12{
    display: inline-flex;
}